<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <a href="#inicio"><img height="50px" src="../../../assets/resources/logo.png"></a>
                <ul>
                    <li><a routerLink="about-us" class="grey-text text-lighten-4">Sobre nosotros</a></li>
                    <li><a routerLink="terms" class="grey-text text-lighten-4">Términos y condiciones</a></li>
                </ul>
            </div>
            <div class="col s12 m4 offset-m2 ">
                <h5 class="white-text">Síguenos</h5>
                <div class="row">
                    <div class="col">
                        <a href="https://www.facebook.com/"><i class="small material-icons icon-black no-link">facebook</i></a>
                    </div>
                    <div class="col">
                        <a href="https://www.instagram.com/"><img height="30px" src="../../../assets/icons/instagram.png"></a>
                    </div>
                    <div class="col">
                        <a href="https://www.twitter.com/"><img height="30px" src="../../../assets/icons/twitter.png"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l6">
                        <a class="grey-text text-lighten-4" href="https://play.google.com/store"><img height="35px" src="../../../assets/resources/play-store.png"></a>
                    </div>
                    <div class="col s12 m12 l6">
                        <a class="grey-text text-lighten-4" href="https://www.apple.com/app-store/"><img height="35px" src="../../../assets/resources/app-store.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2021 Derechos Reservados
        </div>
    </div>
</footer>