<nav class="black">
    <div class="nav-wrapper row">
        <div class="col l2">
            <a href="#" class="brand-logo">Logo</a>
        </div>
        
        <div class="col l7">
            <div class="col l6 valign-wrapper search-navbar-white">
                <i class="tiny material-icons icon-black">my_location</i>
                <form>
                    <div class="input-field">
                    <input placeholder="¿Dónde estas?" id="search" type="search"  required>
                    </div>
                </form>
            </div>
            <div class="col l5 valign-wrapper search-navbar-gray">
                <i class="tiny material-icons icon-black">my_location</i>
                <form>
                    <div class="input-field">
                    <input placeholder="¿Qué buscas?" id="search" type="search"  required>
                    </div>
                </form>
            </div>
            <div class="col l1">
                <a class="btn-floating waves-effect waves-light indigo darken-4" id="btn-floating-navbar"><i class="material-icons" style="margin-top:-10px">search</i></a>
            </div>
        </div>

        <div class="col l3">
            <ul class="right hide-on-med-and-down l3">
                <li><a href="#" class="waves-effect waves-light" style="border-radius: 100px;"><i class="material-icons">shopping_cart</i></a></li>
                <li><a href="#" class="waves-effect waves-light" style="border-radius: 100px;"><i class="material-icons">person</i></a></li>
            </ul>
        </div>
      
    </div>
</nav>