<nav class="black" id="inicio">
    <div class="nav-wrapper row">
        <div class="col s10 input-field hide-on-large-only">
            <input id="search" type="search" (focus)="onFocus()" (blur)="onBlur()" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>

        <div class="col l2" *ngIf="ocultar_logo">
            <a routerLink="" class="brand-logo"> <img id="logo" height="50px" src="../../../assets/resources/logo.png"></a>
        </div>

        <div class="col l7 hide-on-med-and-down">
            <div class="col l6 valign-wrapper search-navbar-white">
                <i class="tiny material-icons icon-black">my_location</i>
                <form>
                    <div class="input-field">
                    <input placeholder="¿Dónde estas?" id="search" type="search"  required>
                    </div>
                </form>
            </div>
            <div class="col l5 valign-wrapper search-navbar-gray">
                <i class="tiny material-icons icon-black">view_in_ar</i>
                <form>
                    <div class="input-field">
                    <input placeholder="¿Qué buscas?" id="search" type="search"  required>
                    </div>
                </form>
            </div>
            <div class="col l1">
                <a class="btn-floating waves-effect waves-light indigo darken-4" id="btn-floating-navbar" routerLink="/companies"><i class="material-icons" style="margin-top:-10px">search</i></a>
            </div>
        </div>
        

        <div class="col l3">
            <ul class="right hide-on-med-and-down l3">
                <li><a routerLink="cart" class="waves-effect waves-light" style="border-radius: 100px;"><i class="material-icons">shopping_cart</i></a></li>
                <li><a routerLink="profile" class="waves-effect waves-light" style="border-radius: 100px;"><i class="material-icons">person</i></a></li>
            </ul>
        </div>
        
        <a href="#" data-target="mobile-demo" class="col s1 sidenav-trigger"><i class="material-icons">menu</i></a>
        
        <ul class="sidenav" id="mobile-demo">
            <li><a routerLink="profile">Perfil</a></li>
            <li><a routerLink="cart">Compras</a></li>
        </ul>
      
    </div>
</nav>