<span *ngFor="let company of companyService.companies">
<span *ngIf="company.empresa_id == id">
    <div class="row">
        <h4 class="header center-align">{{company.nombre_empresa}}</h4>
        <h5 class="header center-align">"{{company.eslogan}}"</h5>
        <p class="col s6 offset-s3 flow-text center-align">
            {{company.direccion}}
            <br>
            {{company.descripcion}}
        </p>
    </div>
    <h5 class="header center-align">Productos</h5>
    <div class="row">
        <div class="col s3"> 
        </div>
        <div class="col s6">
            <div class="row">
                <span *ngFor="let product of productos">
                    <div class="col s4">
                        <div class="card">
                            <div class="card-image">
                                <img src="../../../assets/resources/{{product.imgPath}}">
                                <span class="card-title">{{product.nombre_producto}}</span>
                                <a onclick="M.toast({html: 'Procesando...', completeCallback: function(){alert('Se ha agregado el producto al carrito')}})" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <p>{{product.descripcion}}</p>
                                <input type="number" id="tentacles" name="tentacles" min="1" max="100">
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="col s3">
        </div>
    </div>
</span>
</span>
