<div class="row">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4 class="header center-align">Tu perfil</h4>
                <div class="card horizontal">
                    <div class="card-image">
                        <img alt="" class="circle responsive-img" src="../../../assets/resources/shrek_guapo.jpg" width="150">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content negative-margin">
                            <h6>John Doe</h6>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium soluta corrupti, beatae eligendi ducimus quis ipsam, laborum laboriosam aut est, blanditiis consequatur debitis reiciendis. Cum ex officiis doloribus expedita vitae.</p>
                            
                            Dirección: Springfield, Avenida Siempreviva #742<br>
                            Celular: 6865671234
                            <div class="row valign-wrapper negative-margin">
                                <div class="col s6">
                                    <br>
                                    <i class="tiny material-icons">star</i>
                                    <i class="tiny material-icons">star</i>
                                    <i class="tiny material-icons">star</i>
                                    <i class="tiny material-icons">star</i>
                                    <i class="tiny material-icons">star</i>
                                    5.0 (9999)
                                </div>
                                <div class="col right-align s6">
                                    <img alt="" class="responsive-img" src="../../../assets/icons/perfil-notif.png" width="240">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>