<div class="row">
    <div class="col s12 negative-bottom">
      <div class="card hoverable background-vblue">
        <div class="card-content">
            <div class="row negative-margin">
                <div class="col s9">
                    <span class="card-title">{{nombre_empresa}}</span><i class="tiny material-icons">star</i>({{estrellas}})
                    <h6>{{eslogan}}</h6>
                    <p>{{descripcion}}</p>
                </div>
                <div class="col s3">
                    <div class="col">
                        <a href="https://www.facebook.com/"><i class="small material-icons icon-black no-link">facebook</i></a>
                    </div>
                    <div class="col">
                        <a href="https://www.instagram.com/"><img height="30px" src="../../../assets/icons/instagram-black.png"></a>
                    </div>
                    <div class="col">
                        <i class="small material-icons icon-black no-link">map</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn modal-trigger right valign-wrapper" routerLink="buy">Comprar</a>
          <span class="grey-text text-darken-1">{{servicio}}</span>
        </div>
      </div>
    </div>
  </div>
