<div class="row">
    <div class="col s12 negative-bottom">
      <div class="card hoverable" [ngClass]="{'background-vblue': company.servicio === 'Articulo', 'background-vyellow': company.servicio === 'Objeto', 'background-vpink': company.servicio === 'Comida', 'background-vgreen': company.servicio === 'Servicio' }">
        <div class="card-content">
            <div class="row negative-margin">
                <div class="col s9">
                    <span class="card-title">{{company.nombre_empresa}}</span><i class="tiny material-icons">star</i>({{company.estrellas}})
                    <h6>{{company.eslogan}}</h6>
                    <p>{{company.descripcion}}</p>
                </div>
                <div class="col s3">
                    <div class="col">
                        <a *ngIf=company.facebook href="https://www.facebook.com/"><i class="small material-icons icon-black no-link">facebook</i></a>
                    </div>
                    <div class="col">
                        <a *ngIf=company.instagram href="https://www.instagram.com/"><img height="30px" src="../../../assets/icons/instagram-black.png"></a>
                    </div>
                    <div class="col">
                        <i class="small material-icons icon-black no-link">map</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-action">
          <a *ngIf=boton class="waves-effect waves-light btn modal-trigger right valign-wrapper" (click)=onSelect(company)>Productos</a>
          <span class="grey-text text-darken-1">{{company.servicio}}</span>
        </div>
      </div>
    </div>
  </div>
