<div class="row rainbow-background">
    <div class="row">
        <div class="col s12">
            <h5 class="center-align">Compra local con comidad</h5>
        </div>
    </div>
    <div class="row">
        <div class="col l2 s6 center-align offset-l2">
            <a href="#articulos"><img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/items.png" width="150"></a>
            <h6>Artículos</h6>
        </div>
        <div class="col l2 s6 center-align">
            <a href="#objetos"><img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/objects.png" width="150"></a>
            <h6>Objetos</h6>
        </div>
        <div class="col l2 s6 center-align">
            <a href="#comida"><img alt="" class="circle responsive-img z-depth-5 img-square" src="../../../assets/resources/food.png" width="150"></a>
            <h6>Comida</h6>
        </div>
        <div class="col l2 s6 center-align">
            <a href="#servicios"><img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/service.png" width="150"></a>
            <h6>Servicios</h6>
        </div>
    </div>
</div>

<div class="row background-blue" id="articulos">
    <div class="row">
        <div class="col s12">
            <h5 class="center-align">Apoya artesanos locales</h5>
        </div>
    </div>
    <div class="row center-align">
        <div class="col s12 negative-margin">
            <img alt="" class="responsive-img" src="../../../assets/icons/shopping-basket.png" width="40">
        </div>
    </div>
    <div class="row">
        <div class="col l2 s6 m6 center-align offset-l3">
            <img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/joyeria.png" width="150">
            <h6>Joyería</h6>
        </div>
        <div class="col l2 s6 m6 center-align">
            <img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/artesanias.png" width="150">
            <h6>Artesanías</h6>
        </div>
        <div class="col l2 s12 m12 center-align">
            <img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/disenio.png" width="150">
            <h6>Diseño</h6>
        </div>
    </div>
</div>

<div class="row background-yellow" id="objetos">
    <div class="row">
        <div class="col s12">
            <h5 class="center-align">¡Del taller a tu casa!</h5>
        </div>
    </div>
    <div class="row center-align">
        <div class="col s12 negative-margin">
            <img alt="" class="responsive-img" src="../../../assets/icons/warehouse.png" width="40">
        </div>
    </div>
    <div class="row">
        <div class="col l3 s6 center-align">
            <img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/madederia.png" width="150">
            <h6>Madería</h6>
        </div>
        <div class="col l3 s6 center-align">
            <img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/muebles.png" width="150">
            <h6>Muebles</h6>
        </div>
        <div class="col l3 s6 center-align">
            <img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/vestir.png" width="150">
            <h6>Vestir</h6>
        </div>
        <div class="col l3 s6 center-align">
            <img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/productos.png" width="150">
            <h6>Producción</h6>
        </div>
    </div>
</div>

<div class="row background-pink" id="comida">
    <div class="row">
        <div class="col s12">
            <h5 class="center-align">Conoce tu cuadra gastronómica</h5>
        </div>
    </div>
    <div class="row center-align">
        <div class="col s12 negative-margin">
            <img alt="" class="responsive-img" src="../../../assets/icons/food.png" width="40">
        </div>
    </div>
    <div class="row">
        <div class="col l2 s6 center-align">
            <img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/italian-food.jpg" width="150">
            <h6>Italiana</h6>
        </div>
        <div class="col l2 s6 center-align">
            <img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/mexican.png" width="150">
            <h6>Mexicana</h6>
        </div>
        <div class="col l2 s6 center-align">
            <img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/japanese-food.png" width="150">
            <h6>Japonesa</h6>
        </div>
        <div class="col l2 s6 center-align">
            <img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/greek.png" width="150">
            <h6>Griega</h6>
        </div>
        <div class="col l2 s6 center-align">
            <img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/american.png" width="150">
            <h6>Americana</h6>
        </div>
        <div class="col l2 s6 center-align">
            <img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/chinese.png" width="150">
            <h6>China</h6>
        </div>
    </div>
</div>

<div class="row background-green" id="servicios">
    <div class="row">
        <div class="col s12">
            <h5 class="center-align">¡Tu ciudad de fiesta!</h5>
        </div>
    </div>
    <div class="row center-align">
        <div class="col s12 negative-margin">
            <img alt="" class="responsive-img" src="../../../assets/icons/service.png" width="40">
        </div>
    </div>
    <div class="row">
        <div class="col l3 s6 center-align">
            <img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/dj.png" width="150">
            <h6>DJ</h6>
        </div>
        <div class="col l3 s6 center-align">
            <img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/catering.png" width="150">
            <h6>Catering</h6>
        </div>
        <div class="col l3 s6 center-align">
            <img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/decoration.png" width="150">
            <h6>Decoración</h6>
        </div>
        <div class="col l3 s6 center-align">
            <img alt="" class="circle responsive-img z-depth-5" src="../../../assets/resources/entertainment.png" width="150">
            <h6>Entretenimiento</h6>
        </div>
    </div>
</div>