<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h4 class="header">Términos y Condiciones</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <p class="flow-text">
                Nos reservamos el derecho a lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra ex ac quam dignissim, id varius massa egestas. Sed dignissim a odio in varius. Donec vehicula auctor nisl, et interdum felis elementum ut. Donec vitae justo nisi. Nulla lacus quam, feugiat vel justo at, rutrum luctus elit. Nam dignissim lectus eu feugiat dignissim. Donec in leo id ante sagittis volutpat. Nunc et sagittis nibh. Curabitur sit amet sem lobortis orci accumsan porttitor et a lectus. Maecenas facilisis faucibus libero sed imperdiet. Sed a viverra est. Ut ut metus massa. Suspendisse potenti. Aliquam tincidunt magna eu mauris viverra tincidunt eget sit amet tellus.
            </p>
        </div>
    </div>
</div>