<div class="row">
    <div class="col s3 scrollable">
        <div class="row">
            <div class="col s12 negative-margin">
              <div class="card">
                <div class="card-content">
                    <div class="row negative-bottom">
                        <div class="col s9">
                            <form action="#">
                                <div class="col s6">
                                    <label>
                                        <input type="checkbox" checked="checked" (focus)="onFocusArticulo()"/>
                                        <span>Artículos</span>
                                    </label>
                                </div>
                                <div class="col s6">
                                    <label>
                                        <input type="checkbox" checked="checked" (focus)="onFocusObjeto()"/>
                                        <span>Objetos</span>
                                    </label>
                                </div>
                                <div class="col s6">
                                    <label>
                                        <input type="checkbox" checked="checked" (focus)="onFocusComida()"/>
                                        <span>Comida</span>
                                    </label>
                                </div>
                                <div class="col s6">
                                    <label>
                                        <input type="checkbox" checked="checked" (focus)="onFocusServicio()"/>
                                        <span>Servicios</span>
                                    </label>
                                </div>
                            </form>  
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>

        <span *ngFor="let product of productService.products">
            <span *ngIf="product.categoria == 'Comida'">
                <!-- <app-store-card (click)=showInMap(product.lng,product.lat) *ngIf="!hideComida" nombre_empresa={{product.nombre_empresa}} eslogan={{product.eslogan}} descripcion={{product.descripcion}} servicio={{product.servicio}} [instagram]=product.instagram [facebook]=product.facebook [estrellas]=product.estrellas categoria={{product.categoria}}></app-store-card> -->
                <app-store-card (click)=showInMap(product.lng,product.lat) *ngIf="!hideComida" [product]=product></app-store-card>
            </span>
            <span *ngIf="product.categoria == 'Articulo'">
                <app-store-card (click)=showInMap(product.lng,product.lat) *ngIf="!hideArticulo" [product]=product></app-store-card>
                <!-- <app-store-card (click)=showInMap(product.lng,product.lat) *ngIf="!hideArticulo" nombre_empresa={{product.nombre_empresa}} eslogan={{product.eslogan}} descripcion={{product.descripcion}} servicio={{product.servicio}} [instagram]=product.instagram [facebook]=product.facebook [estrellas]=product.estrellas categoria={{product.categoria}}></app-store-card> -->
            </span>
            <span *ngIf="product.categoria == 'Servicio'">
                <app-store-card (click)=showInMap(product.lng,product.lat) *ngIf="!hideServicio" [product]=product></app-store-card>
                <!-- <app-store-card (click)=showInMap(product.lng,product.lat) *ngIf="!hideServicio" nombre_empresa={{product.nombre_empresa}} eslogan={{product.eslogan}} descripcion={{product.descripcion}} servicio={{product.servicio}} [instagram]=product.instagram [facebook]=product.facebook [estrellas]=product.estrellas categoria={{product.categoria}}></app-store-card> -->
            </span>
            <span *ngIf="product.categoria == 'Objeto'">
                <app-store-card (click)=showInMap(product.lng,product.lat) *ngIf="!hideObjeto" [product]=product></app-store-card>
                <!-- <app-store-card (click)=showInMap(product.lng,product.lat) *ngIf="!hideObjeto" nombre_empresa={{product.nombre_empresa}} eslogan={{product.eslogan}} descripcion={{product.descripcion}} servicio={{product.servicio}} [instagram]=product.instagram [facebook]=product.facebook [estrellas]=product.estrellas categoria={{product.categoria}}></app-store-card> -->
            </span>
        </span>
    </div>
    <div class="col" id="mapa-mapbox">
    </div>
</div>

<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
          